.pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .smallBox {
    background-color: green;
    color: black;
    width: 50vh;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #choosePlaylist {
    flex-direction: column;
    justify-content: space-between;
  }